.greetings {
  margin-top: 132px;
  display: flex;
  justify-content: space-between;

  &__left {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }

  &__title {
    font-size: 48px;
  }

  &__right {
    max-width: 518px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  &__card {
    border-radius: 15px;
    user-select: none;
    -webkit-user-drag: none;
  }
}