$purple: #B4387A;

$blue-light: #686DF1;
$blue: #3962ec;
$blue-dark: #2020a6;

$white: #FFFFFF;

$grey-light: #808080;
$grey: #4F5665;
$grey-dark: #2D3748;

$orange: #EB801D;

$red: #952222;
$red-light: #FF0000;

$swamp: #7B7454;

// breakpoints
$desktop: 1300px;

$tablet: 920px;

$phone: 500px;