$purple: #b4387a;

$blue-100: #7796c0;
$blue-300: #3182ce;

$blue-light: #686df1;
$blue: #3962ec;
$blue-dark: #2020a6;

$violet-500: #5b35d5;

$white: #ffffff;

$grey-light: #808080;
$grey: #4f5665;
$grey-dark: #2d3748;

$grey-100: #e2e8f0;
$grey-200: #d9d9d9;
$grey-500: #434343;

$blue-gray-400: #7f92ac;

$orange: #eb801d;

$gold-500: #b2a35f;
$gold-700: #7b7454;

$red: #952222;
$red-light: #ff0000;
$red-400: #ff5631;
$red-500: #d93737;

$black-300: #3d3d3d;

$swamp: #7b7454;

// breakpoints
$desktop: 1300px;

$tablet: 920px;

$phone: 500px;
