@use "@/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__titleWrapper {
    display: flex;
    align-items: center;
    max-width: 40%;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $tablet) {
      max-width: none;
    }

    > p {
      font-weight: 500;
    }
  }

  &__description {
    font-size: 20px;
    color: $grey;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: flex-end;
    width: 100%;
    margin-top: -16px;

    @media (max-width: $phone) {
      gap: 20px;
    }
  }

  &__button {
    max-width: 160px;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
  }
}
