@use "@/styles/variables" as *;
@use "@/styles/scrollbar" as *;

.tableWrapper {
  max-height: 320px;
  overflow-y: auto;
  padding-right: 10px;
  @include scrollbar();
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__head {
  }

  &__row {
    height: 40px;
    border-bottom: 1px solid $grey-100;
  }

  &__cell {
    font-size: 12px;
    font-weight: 500;
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;
    color: #4a5568;
  }
}
