@use "@/styles/variables" as *;

.about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(236px, auto);

  > *:nth-child(-n+3) {
    grid-column: span 2;
  }

  > *:nth-child(n+4) {
    grid-column: span 3;
  }
}