@use "@/styles/variables" as *;

.button {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 16px;
  padding: 16px;
  transition: background-color 0.3s;

  &__primary {
    background-color: $blue;

    &:hover:not(:disabled) {
      background-color: $blue-100;
    }
  }

  &__error {
    background-color: rgba($red-500, 0.8);

    &:hover:not(:disabled) {
      background-color: rgba($red-500, 0.9);
    }
  }

  &:disabled {
    background-color: $blue-100;
  }
}
