@use "@/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  padding: 32px;
  border-radius: 28px;
  background-color: $white;
  box-shadow: 0 0 8px 0 #00000033;

  &__top {
    margin-bottom: 32px;
    display: flex;
    gap: 40px;
  }

  &__sliderBlock {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
  }

  &__titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__divider {
    width: 1px;
    border: 0.5px dashed rgba($grey-light, 0.4);
  }

  &__inputBlock {
    flex: 1;
  }

  &__button {
    align-self: flex-end;
    border-radius: 8px;
    max-width: 150px;
    width: 100%;
  }
}