@use "@/styles/variables" as *;

.congratulations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  gap: 32px;

  > p {
    color: $grey;
  }
}
