:root {
  font-family: "Ubuntu", sans-serif;
  background-color: #F5F4FF;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  font-family: inherit;
  outline: none;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}