:root {
  font-family: "Ubuntu", sans-serif;
  background-color: #F5F4FF;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  font-family: inherit;
  outline: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;

  @media (max-width: 1300px) {
    font-size: 36px;
  }

  @media (max-width: 920px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;

  @media (max-width: 1300px) {
    font-size: 28px;
  }

  @media (max-width: 920px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 700;
}