@use "@/styles/variables" as *;

.currencies {
  max-width: 410px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  list-style: none;

  &__item {
    display: flex;
    line-height: 22px;
    font-size: 20px;
    font-weight: 700;
    gap: 20px;
  }

  &__name {
    color: $grey-light;
    text-transform: uppercase;
  }
}