@use "@/styles/variables" as *;

.form {
  display: flex;
  gap: 20px;
  max-width: 525px;
  background-color: $white;
  border-radius: 20px;
  padding: 22px 32px;
  box-shadow: 0 10px 20px 0 #363A781A;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }

  &__inputWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__icon {
    user-select: none;
    -webkit-user-drag: none;
  }

  &__input {
    outline: none;
    border: none;
    font-size: 20px;

    &::placeholder {
      font-size: 20px;
      font-weight: 400;
      font-family: "Nunino Sans", sans-serif;
    }
  }
}